mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}


.fieldName{
  padding: 15px;
}

.space{
  margin-right: 15px;
  margin-left: 15px;
}

.min-width{
  min-width: 250px;
  padding-right: 10px;
  max-width: 80%;
  margin: 2em auto;
}

.form-array-error {
  text-align: left;
}

.lessons-toolbar {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
