<mat-card class="min-width">

  <mat-card-header>
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>Cadastro de Cursos</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field hintLabel="Max 100 characters" class="fieldName">
        <mat-label>Nome do Curso</mat-label>
        <input matInput #input maxlength="200" placeholder="Ex. Java Básico" formControlName="name">
        <mat-hint align="end">{{input.value.length}}/100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">
          {{ getErrorMessage("name") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
        <mat-hint align="end">Aqui está a seta suspensa ^</mat-hint>
        <mat-error *ngIf="form.get('category')?.invalid">
          {{ getErrorMessage("category") }}
        </mat-error>
      </mat-form-field>

      <mat-toolbar class="lessons-toolbar">
        <span>Lessons</span>
        <div class="fill-remaining-space"></div>
        <button mat-icon-button color="accent" (click)="addLesson()">
          <mat-icon aria-label="Add a New Lesson">post_add</mat-icon>
        </button>
      </mat-toolbar>
      <mat-error *ngIf="formUtils.isFormArrayRequired(form, 'lessons')" class="form-array-error">
        At least one lesson is required.
      </mat-error>

      <table class="full-width" formArrayName="lessons" *ngFor="let lesson of getLessonFormArray(); let i = index">
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Lesson Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="getLessonFormArray()[i].get('name')?.invalid">
                {{ getLessonErrorMessage('name', i) }}
              </mat-error>
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field class="full-width">
              <mat-label>URL</mat-label>
              <span matPrefix>https://youtu.be/</span>
              <input matInput formControlName="youtubeUrl" />
              <mat-error *ngIf="getLessonFormArray()[i].get('youtubeUrl')?.invalid">
                {{ getLessonErrorMessage('youtubeUrl', i) }}
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="removeLesson(i)">
              <mat-icon aria-label="Remove Lesson">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button class="space" mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button class="space" mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
