<mat-card style="padding: 10px;">
  <div class="mat-elevation-z8">
    <mat-card-header>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span><mat-icon>dvr</mat-icon> Cursos Disponíveis</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-header>

    <mat-card-content>
      <app-courses-list
        *ngIf="courses$ | async as courses; else loadingTable"
        [courses]="courses"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (report)="onReport($event)">
      </app-courses-list>

      <ng-template #loadingTable>
        <div class="loadingTable">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>

    </mat-card-content>
  </div>

  <mat-card-actions>
    <h5 style="color: chartreuse;">
      <mat-icon> copyright </mat-icon><span> Farmy Silva - 2023 </span>
    </h5>
  </mat-card-actions>

</mat-card>
