.action-column{
  padding-top: 6px;
  padding-bottom: 9px;
  text-align: right;
  justify-content: flex-end;
}

.action-column-header{
  padding-top: 6px;
  padding-bottom: 9px;
  text-align: right;
  justify-content: flex-end;
}

table {
  width: 80%;
}

.mat-icon-left{
  padding-left: 15px;
}
