<mat-table [dataSource]="courses">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Courses: </mat-header-cell>
    <mat-cell  *matCellDef="let course"> {{ course.name }} </mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell  *matHeaderCellDef> Categorys: </mat-header-cell>
    <mat-cell *matCellDef="let course"> {{ course.category }}
      <mat-icon class="mat-icon-left" aria-hidden="false" aria-label="categoria do curso">
        <span class="material-symbols-outlined;">
          {{ course.category | category}}
        </span>
      </mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions" >
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="accent" aria-label="Adicionar curso" (click)="onAdd()">
        <mat-icon>post_add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef=" let course" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar curso" (click)="onEdit(course)">
        <mat-icon>edit_square</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover curso" (click)="onReport(course)">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>

      <button mat-icon-button color="accent" aria-label="Remover curso" (click)="onDelete(course)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
